:root{
  --color-primary: #171717;
  --color-secondary: #EDEDED;
  --color-sub: #444444;
  --color-accent: #DA0037;
}

html *, html *::before, html *::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body, .App, #root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: max-content;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* html{
  border: 3px solid red;
}

body{
  border: 3px solid blue;
}

.App{
  border: 3px solid green;
}

#root{
  border: 3px solid yellow;
} */