:root{
  --color-primary: #171717;
  --color-secondary: #EDEDED;
  --color-sub: #444444;
  --color-accent: #DA0037;
}

*, *::before, *::after{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}