.timelinespage-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.timelinespage-container > h1{
    margin: 2rem 0;
}

.empty-banner-posts{
    width: max(60%, 30rem);
}