.timelinespage-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.timelinespage-container > h2{
    margin: 2.5rem 0;
    font-size: 2.5rem;
    font-weight: 400;
}