.loginPage_container{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    padding: 10px;
    /* border: 3px solid purple; */
}

.welcomingBanner{
    flex-basis: 40%;
    /* border: 3px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.welcomingBanner > h1{
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
}

.imageBanner{
    width: clamp(20rem, 60%, 100%);
    /* border: 3px solid green; */
}

.loginForm{
    flex-basis: 30%;
    background-color: var(--color-sub);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    padding: 3%;
    z-index: 1;
}

.loginForm > *{
    margin: 0.8rem 0;
}

.loginForm > h2{
    font-size: 3.5rem;
    font-weight: 400;
}

.loginFormInputs{
    color: var(--color-secondary);
    width: 100%;
    padding: 0.3rem 0;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-secondary);
    transition: border 150ms ease-in-out;
}

.loginFormInputs:focus{
    border-bottom-color: var(--color-accent);
}

.loginFormInputs::placeholder{
    color: var(--color-secondary);
}

.loginSubmitButton{
    margin-top: 3rem;
    width: clamp(8rem, 20%, 20%);
    align-self: center;
}

.registrationLink{
    font-size: 0.75rem;
}

.registrationLink a {
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secondary);
    transition: all 150ms ease-in-out;
}

.registrationLink a:hover,
.registrationLink a:focus{
    outline: none;
    background-color: var(--color-accent);
}

.swal-custom-popup{
    background-color: var(--color-sub);
    color: var(--color-secondary);
}

.swal-icon{
    background: none;
}

.swal-custom-confirm{
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
    border-radius: 0.5rem !important;
}

.swal-custom-cancel{
    background-color: var(--color-danger) !important;
    color: var(--color-secondary) !important;
    border-radius: 0.5rem !important;
}

@media screen and (max-width: 768px) {
    .loginPage_container{
        flex-flow: column wrap;
        row-gap: 1rem;
    }

    .loginPage_container > *{
        flex-basis: 0;
    }

    .welcomingBanner{
        order: 1;
    }

    .welcomingBanner > h1{
        font-size: 3.5rem
    }

    .welcomingBanner{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: 0.5;
        width: clamp(30rem, 60%, 60%);
    }

    .loginForm{
        background-color: var(--color-st-secondary);
    }

    .loginForm > h2{
        font-size: 2.5rem;
    }
}