.postbox-container{
    background-color: var(--color-sub);
    padding: 0.5% 2%;
    margin-bottom: 4rem;
}

.postbox-header{
    position: relative;
}

.postcontent-separator{
    border: 2px solid var(--color-accent);
}

.post-username{
    font-weight: bold;
}

.post-username, 
.post-date{
    margin: 0.25rem 0;
}

.post-title,
.post-content{
    margin: 1rem 0;
    white-space: pre-wrap;
}

.post-content.hide{
    max-height: 5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.toggle-post-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

