.registerPageContainer{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    padding: 10px;
}

.registerForm{
    flex-basis: 30%;
    background-color: var(--color-sub);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
    column-gap: 0.5rem;
}

.registerForm > *{
    margin: 0.8rem 0;
}

.registerForm > h2{
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}

.registerFormInputs{
    color: var(--color-secondary);
    flex-grow: 1;
    width: 100%;
    padding: 0.3rem 0;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-secondary);
    transition: border 150ms ease-in-out;
}

.registerFormInputs:nth-child(3),
.registerFormInputs:nth-child(4){
    flex-basis: 40%;
}

.registerFormInputs:focus{
    border-bottom-color: var(--color-accent);
}

.registerSubmitButton{
    margin-top: 3rem;
    width: clamp(8rem, 20%, 20%);
    align-self: center;
}


.welcomingBanner{
    flex-basis: 40%;
    /* border: 3px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.welcomingBanner > h1{
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
    text-align: center;
}

.imageBanner{
    width: clamp(20rem, 40%, 100%);
}

@media screen and (max-width: 768px) {
    .registerPageContainer{
        flex-flow: column wrap;
        row-gap: 1rem;
    }

    .registerPageContainer > *,
    .registerFormInputs:nth-child(3),
    .registerFormInputs:nth-child(4){
        flex-basis: 0;
    }

    .registerForm{
        background-color: var(--color-st-secondary);
        flex-flow: column wrap;
        order: 2;
        width: 80%;
        z-index: 1;
    }

    .registerForm > h2{
        font-size: 2.5rem;
    }

    .welcomingBanner{
        order: 1;
    }

    .welcomingBanner > h1{
        font-size: 3.5rem;
    }

    .imageBanner{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: 0.5;
        width: clamp(20rem, 50%, 60%);
    }
}