.postwritebox-container{
    width: max(60%, 30rem);
    background-color: var(--color-sub);
    padding: 0.5% 2%;
    margin-bottom: 4rem;
}

.post-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem 0;
}

.postwritebox-title,
.post-container{
    margin: 2% 0;
}

.postwritebox-title{
    background: none;
    border: none;
    width: 50%;
    /* border: 3px solid red; */
    color: var(--color-secondary);
    font-size: 1.5em;
}

.postwritebox-title:focus{
    outline: 2px solid white;
}

.postwritebox-separator{
    border: 2px solid var(--color-accent);
}

.postwrite-textarea{
    height: 5rem;
    border: 2px solid var(--color-secondary);
    background: none;
    color: var(--color-secondary);
    padding: 0.5rem;
    resize: vertical;
}

.postwritebox-title::placeholder,
.postwrite-textarea::placeholder{
    color: var(--color-secondary);
}

.postwrite-textarea:focus{
    outline: 2px solid var(--color-accent);
}

.post-button{
    width: max(5rem, 10%);
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .postwritebox-title{
        width: 100%;
    }
}